/* RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERALI */

.container {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}




/* HEADER */

.bg{
    height: 80px;
    background-color: #ff6900;
    margin-bottom: 50px;
}

header{
    display: flex;
}

nav{
    display: flex;
}

.list-nav{
    list-style: none;
    align-content: space-around; 
}

.list-nav li:hover{
    text-decoration: underline;
}

.list-nav li a{
    text-decoration: none;
    padding: 15px 5px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
}

.logo img{
    width: 300px;
    height: 50px;
    margin: 0 auto;
}


.option{
    fill: white;
    width: 10%;
    cursor: pointer;
}

.option svg{
    margin-right: 5px;
}



/* CARDS */


.square{
    margin-bottom: 30px;
    margin-top: 15px;
}

.cards{
    background-color: #e8e8e8;
    height: 450px;
    width: 350px;
}

.cards img{
    height: 100%;
    width: 100%;
}













/* FOOTER */


.bg-foot{
    background-color:#1a1a1a;
    height: 90px;
    color: white;
}

.foot-up{
    margin-top: 20px;
}

.foot-bott ul li{
    display: inline-block;
    margin-right: 10px;
}

.foot-bott ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot-social{
    width: 10%;
    padding-left: 280px;
}

.foot-social i{
    font-size: 25px;
    padding: 10px;
}

